:root {
      --primary-color: #1f2937;
      --accent-color: #3b82f6;
      --bg-gradient-start: #f0f4ff;
      --bg-gradient-end: #dbeafe;
      --card-bg: #ffffff;
      --text-color: #374151;
      --shadow: rgba(0, 0, 0, 0.1);
    }
    * {
      padding: 0;
      font-family: 'Inter', sans-serif;
    }
    body {
      min-height: 100vh;
      background: linear-gradient(135deg, var(--bg-gradient-start), var(--bg-gradient-end));
      color: var(--text-color);
      align-items: center;
      justify-content: center;
      
    }
    .card {
      background: var(--card-bg);
      border-radius: 1rem;
      box-shadow: 0 10px 20px var(--shadow);
      max-width: 1100px;
      width: 100%;
      overflow: hidden;
      margin:0 auto 
    }
  
    .header {
      background-color: #ff000f;
      color: #fff;
      padding: 1.5rem;
      text-align: center;
    }
    .header h1 {
      font-size: 2rem;
      font-weight: 800;
    }
    .header p {
      margin-top: 0.5rem; /* scalabile (rem è l'unità di misura equivale al font radice)*/ 
      font-weight: 400;
    }
    .content {
      padding: 1.5rem;
    }
    .spec-list {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr; /* valore frazionato, fa 2 colonne*/
      gap: 0.75rem 1.5rem;
    }
    .spec-item {
      background: #f9fafb;
      border-radius: 0.5rem;
      padding: 0.75rem;
      box-shadow: 0 4px 10px var(--shadow);
      text-align: center;
    }
    .spec-item h3 {
      font-size: 1rem;
      font-weight: 600;
      color: var(--primary-color);
    }
    .spec-item span {
      display: block;
      margin-top: 0.25rem;
      font-size: 0.875rem;
    }
    footer {
      text-align: center;
      padding: 1rem;
      font-size: 0.75rem;
      color: #6b7280;
    }

    .cardCompon {
      background: var(--card-bg);
      border-radius: 1rem;
      box-shadow: 0 10px 20px var(--shadow);
      max-width: 1100px;
      width: 100%;
      overflow: hidden;
      margin:0 auto 
    }
    .cardCompon p{
      align-items: center;
      justify-content: center;
      margin-left :4%;
      margin-right :5%;
      font-size: 1.4rem;
    }
    .cardCompon h3{
      align-items: center;
      justify-content: center;
      margin-left :4%;
      margin-right :5%;
      font-size: 1.6rem;
    }
     .progress-bar {
      width: 25%; /* qui imposti la percentuale */
      height: 30px;
      background-color: #ff9900;
      text-align: center;
      color: white;
      line-height: 30px; /* per centrare il testo verticalmente */
      font-weight: bold;
      transition: width 0.5s ease;
    }
    .progress-bar2 {
      width: 40%; 
      height: 30px;
      background-color: #039603;
      text-align: center;
      color: white;
      line-height: 30px; 
      font-weight: bold;
    }
    .progress-bar3 {
      width: 15%; 
      height: 30px;
      background-color: #27d2df;
      text-align: center;
      color: white;
      line-height: 30px; 
      font-weight: bold;
      
    }

    /*LEGENDA*/
    .legenda-container {
      display: flex;
      align-items: center;
      width: 80%;       /* stessa larghezza della barra */
      margin: 10% auto; /* centra orizzontalmente con margine verticale */
      gap: 10px;        /* spazio tra testo e barra */
      margin-bottom: 2%;
      margin-top: 2%;
}
   .legenda {
    display: block; /* o inline-block */
    flex-grow: 1; /*occupa tutto spazio container possibile*/
    height: 30px;
    background: linear-gradient(to right, #ff000f, #ff9900, #039603, #27d2df);
}
.legenda-label {
  font-weight: 600;
  font-size: 1.4rem;
}
    .progress-container {
      width: 100%;
      background-color: #ddd;
      border-radius: 5px;
      overflow: hidden;
    }
      .spec-list2 {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; /* valore frazionato, fa 2 colonne*/
      gap: 0.75rem 1.5rem;
    }
    .rischi{
       list-style: none; /* Rimuove i marcatori predefiniti */
       margin-left: 5%;
    }
    .rischi-item{
       position: relative;
       margin-bottom: 1rem; 
       padding-left: 2rem;
       font-size:1.1rem; 
    }
    .rischi-item::marker {
      content: "■"; /* Carattere quadrato Unicode */
      font-size: 1.2rem; /* Dimensione del quadratino */
      color: #ff000f; /* Colore del quadratino */
      position: absolute;
      left: 0; /* Posiziona il quadratino all'inizio dell'elemento */
      top: 50%;
      transform: translateY(-50%); /* Allinea verticalmente il quadratino */
}
      b{
        color:#ff000f
      }

   
   
