/* Reset base */
@font-face {
    font-family: "Bebas";
    src:url(BebasNeue-Regular.ttf) format("truetype")
   
   }
   * {
    box-sizing: border-box;
  }
.accesso {
    display: flex; /* Usa flexbox per il layout */
    flex-direction: column; /* Gli elementi sono disposti verticalmente */
    align-items: center;      /* Centra verticalmente */
    height: 450px; /* Altezza del contenitore */
    width: 500px; /* Larghezza del contenitore */
    background-color: #581d1d;
    border-radius: 20px; /* Bordo arrotondato */
    margin: 0 auto; /* centra orizzontalmente div*/
    margin-top: 10%;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #202020;
    color: #ffffff;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body h1{
    font-family: 'Bebas';
    padding: 10px;
    font-size: 40px;
    letter-spacing: 2px;
}
input{
    padding: 5px;
    margin-top: 8px;
}

/*header*/
header {
    background-color: #910a0a;
    padding: 20px;
    text-align: center;
    display: flex;
    width: 100%;
    position: absolute; /*questo parametro e il successivo pongono il footer sempre in fondo alla pagina, l'absolute è per far si che sia sempre in fondo*/
    top: 0;
    left: 0;
}

header h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
}

header nav {
    margin-top: 10px;
}

header button{
    margin-top: 50px;
    background-color: #f4f4f4;
    color: #910a0a;
    padding: 6px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
header a{
    margin-left: 80%;
}
header nav a:hover {
    text-decoration: underline;
}



/* Griglia Prodotti */
.product-griglia {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* meglio per riempire gli spazi */
    gap: 30px;
    padding: 40px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: stretch; /* forza le card ad allinearsi in altezza */
}
.product-card {
    border: 5px solid #910a0a;
    border-radius: 4px;
    overflow: hidden;
    background-color: #f4f4f4;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 100%; /* lascia Grid gestire la larghezza */
    height: auto;
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgb(138, 4, 4);
}

.product-card img {
    width: 100%;
    height: 250px; /* altezza fissa per tutte le immagini */
    object-fit: contain;
    margin-bottom: 10px;
}

.product-card h3 {
    color: #910a0a;
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0;
    font-family: "bebas";
}

.product-card p {
    color: #333;
    font-size: 25px;
    font-weight: bold;
    font-family: "bebas";
}
.product-card button{
    font-family: "bebas";
    font-weight: bold;
    margin-top: auto; /* spinge il bottone in basso */
    font-size: 30px;
    color: #910a0a;
    border: none;
    padding: 6px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card .price {
    color: #910a0a;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}
.contenuto {
    flex: 1; /* Spinge il footer in basso */
}
/* Footer */
footer {
    background-color: #910a0a;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

footer h1 {
    font-family: 'Bebas', sans-serif;
}

footer p {
    font-size: 18px;
}

/* Button Styles */
button {
    margin-top: 8px;
    background-color: #f4f4f4;
    color: #910a0a;
    border: none;
    padding: 6px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddc6c6;
}
a {
    color: #ff0000;  /* Colore arancione */
}
a:hover {
    color: #ff8800;  /* Colore rosso quando si passa sopra */
    text-decoration: underline;  /* Aggiunge la sottolineatura al passaggio del mouse */
}

/* Link visitato */
a:visited {
    color: #fc6500;  /* Colore viola per i link visitati */
}
